<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Zhuanzhuans</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>Cookies</filter-name>
    <filter-class>com.zhuanzhuan.filter.CookiesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Cookies</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Code</filter-name>
    <filter-class>com.zhuanzhuan.filter.CodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Code</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.zhuanzhuan.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/center/*</url-pattern>
    <url-pattern>/ShoppingCarts</url-pattern>
    <url-pattern>/release_info-input.jsp</url-pattern>
    <url-pattern>/confirm_order.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.zhuanzhuan.action.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.zhuanzhuan.action.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.zhuanzhuan.action.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
    <url-pattern>/center/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Regist</servlet-name>
    <servlet-class>com.zhuanzhuan.action.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regist</servlet-name>
    <url-pattern>/Regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Good</servlet-name>
    <servlet-class>com.zhuanzhuan.action.GoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Good</servlet-name>
    <url-pattern>/Good</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Orders</servlet-name>
    <servlet-class>com.zhuanzhuan.action.OrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Orders</servlet-name>
    <url-pattern>/Orders</url-pattern>
    <url-pattern>/center/Orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCarts</servlet-name>
    <servlet-class>com.zhuanzhuan.action.ShoppingCartsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCarts</servlet-name>
    <url-pattern>/ShoppingCarts</url-pattern>
    <url-pattern>/center/ShoppingCarts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>com.zhuanzhuan.action.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/center/CancelOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeOrder</servlet-name>
    <servlet-class>com.zhuanzhuan.action.ChangeOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrder</servlet-name>
    <url-pattern>/ChangeOrder</url-pattern>
    <url-pattern>/center/ChangeOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitOrder</servlet-name>
    <servlet-class>com.zhuanzhuan.action.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrder</servlet-name>
    <url-pattern>/SubmitOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistCourier</servlet-name>
    <servlet-class>com.zhuanzhuan.action.RegistCourierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistCourier</servlet-name>
    <url-pattern>/RegistCourier</url-pattern>
    <url-pattern>/center/RegistCourier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidCode</servlet-name>
    <servlet-class>com.zhuanzhuan.action.ValidCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidCode</servlet-name>
    <url-pattern>/ValidCode</url-pattern>
    <url-pattern>/center/ValidCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitStream</servlet-name>
    <servlet-class>com.zhuanzhuan.action.SubmitGoodStreamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitStream</servlet-name>
    <url-pattern>/SubmitStream</url-pattern>
    <url-pattern>/center/SubmitStream</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeGoodStream</servlet-name>
    <servlet-class>com.zhuanzhuan.action.ChangeGoodStreamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeGoodStream</servlet-name>
    <url-pattern>/ChangeGoodStream</url-pattern>
    <url-pattern>/courier/ChangeGoodStream</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodStreams</servlet-name>
    <servlet-class>com.zhuanzhuan.action.GoodStreamsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodStreams</servlet-name>
    <url-pattern>/GoodStreams</url-pattern>
    <url-pattern>/courier/GoodStreams</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddShoppingCart</servlet-name>
    <servlet-class>com.zhuanzhuan.action.AddShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShoppingCart</servlet-name>
    <url-pattern>/AddShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteShoppingCart</servlet-name>
    <servlet-class>com.zhuanzhuan.action.DeleteShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShoppingCart</servlet-name>
    <url-pattern>/center/DeleteShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Messages</servlet-name>
    <servlet-class>com.zhuanzhuan.action.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messages</servlet-name>
    <url-pattern>/Messages</url-pattern>
    <url-pattern>/center/Messages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMsg</servlet-name>
    <servlet-class>com.zhuanzhuan.action.DeleteMsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMsg</servlet-name>
    <url-pattern>/DeleteMsg</url-pattern>
    <url-pattern>/center/DeleteMsg</url-pattern>
  </servlet-mapping>
</web-app>